<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel Sheet</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="menu-container">

        <div><img src="C:\Users\Admin\Desktop\Development\Lec6_Excel_electron\activity\pictures\excelicon.png" width="38px"></div>

        <div class="dropdown">
            <button class="dropbtn">File</button>
            <div class="dropdown-content">
                <a id="new">New</a>
                <a id="open">Open</a>
                <a id="save">Save</a>
            </div>
        </div>
        <!-- <div class="file menu-active " id="file">File</div> -->
        <button class="dropbtn-h">Home</button>
        <button class="dropbtn">Edit</button>
        <button class="dropbtn">Insert</button>
        <button class="dropbtn">View</button>

    </div>

    <div class="menu-options-container" style="background: whitesmoke;">
        <!-- <div class="file-menu-options menu-options-active">
            <div class="new" >New</div>
            <div class="open">Open</div>
            <div class="save">Save</div>
        </div> -->

        <!-- <div class="home-menu-options-new"> hiiiiiii</div>        -->


        <!-- <div class="home-menu-options-new"></div> -->
        <div class="cell-formatting">
            <div class="cell-font-name">
                <select name="font" id="cell-font"
                    style=" width: 220px;height: 33px; margin-left: 7px;border: 2px solid;">
                    <option value="">Font-1</option>
                    <option value="">Font-2</option>
                    <option value="">Font-3</option>
                    <option value="">Font-4</option>
                </select>
            </div>
            <div class="cell-text-style">
                <div class="bold">
                    <button class="allign">
                        <img src="C:\Users\Admin\Desktop\Development\Lec6_Excel_electron\activity\pictures\bold.jpg"
                            width="30px">
                    </button>

                </div>
                <div class="underline">
                    <button class="allign">
                        <img src="C:\Users\Admin\Desktop\Development\Lec6_Excel_electron\activity\pictures\underline.png"
                            width="30px">
                    </button>
                </div>
                <div class="italic">
                    <button class="allign">
                        <img src="C:\Users\Admin\Desktop\Development\Lec6_Excel_electron\activity\pictures\italic.png"
                            width="30px">
                    </button>
                </div>
            </div>
        </div>


        <div class="cell-style">
            <div class="cell-font-size">
                <input type="range" name="font-size-slider" id="font-slider" min="10" max="40" value="16">
            </div>

            <div class="cell-color">

                <div><img src="C:\Users\Admin\Desktop\Development\Lec6_Excel_electron\activity\pictures\fillcolor.png"
                        width="20px" style="
                            height: 49px;
                            width: 56px;"> </div>
                <div><input type="color" name="cell-background" id="cell-background" style=" width: 21px;
                            height: 22px;
                            border: 21px;
                            margin-top: 30px;
                            margin-left: 0px;
                            margin-right: 24px;"> </div>
            </div>

            <div class="cell-color">

                <div><img src="C:\Users\Admin\Desktop\Development\Lec6_Excel_electron\activity\pictures\fontcolor.webp"
                        width="20px" style="
                            height: 49px;
                            width: 56px;"> </div>


                <div>
                    <input type="color" name="cell-text" id="cell-text" value="#ff0000" style=" width: 21px;
                      height: 22px;
                      border: 21px;
                      margin-top: 30px;
                      margin-left: -14px;
                      margin-right: 24px;">
                </div>


            </div>
        </div>

        <div class="cell-alignment">
            <div class="left">
                <!-- <input type="button" value="L" > -->

                <button class="allign">
                    <img src="C:\Users\Admin\Desktop\Development\Lec6_Excel_electron\activity\pictures\left alig.jpeg"
                        width="30px">
                </button>
            </div>
            <div class="center">

                <button class="allign">
                    <img src="C:\Users\Admin\Desktop\Development\Lec6_Excel_electron\activity\pictures\centre align.png"
                        width="30px">
                </button>
            </div>
            <div class="right">

                <button class="allign">
                    <img src="C:\Users\Admin\Desktop\Development\Lec6_Excel_electron\activity\pictures\right alig.png"
                        width="30px">
                </button>
            </div>
        </div>
    </div>

    </div>

    <div class="formula" style="background: whitesmoke;">
        <img src="C:\Users\Admin\Desktop\Development\Lec6_Excel_electron\activity\pictures\icon fx.png" class="fx">
        <input type="text" id="id1" class="address" readonly="" placeholder="Address" style="width: 201px">

        <input type="text" class="cell-formula" placeholder="Formula" style="width: 845px">
    </div>

    <div class="content">
        <div class="top-left-cell"></div>
        <div class="top-row">
            <%for(let j=0 ; j<26 ; j++){%>
            <div class="top-row-cell" c-id=<%=j%>> <%= String.fromCharCode(65+j) %> </div>
            <%}%>
        </div>
        <div class="left-col">
            <% for(let i=0 ; i<100 ; i++) {%>
            <div class="left-col-cell" c-id=<%=i%>> <%=i+1%></div>
            <%}%>
        </div>


        <div class="cells">
            <% for(let i=0 ; i<100 ; i++) {%>
            <div class="row">
                <%for(let j=0 ; j<26 ; j++){%>
                <div class="cell" contenteditable="true" r-id=<%=i%> c-id=<%=j%>></div>
                <%}%>
                </div>
                <%}%>
            </div>

        </div>

        <div class="sheets" style="display: flex;justify-content: flex-start;">
            <div><button class="dropbtn">Sheet 1</button></div> 
            <div style="margin-left:-11px ;"><button><img src="C:\Users\Admin\Desktop\Development\Lec6_Excel_electron\activity\pictures\newsheet.png" width="24px"></button></div> 
        </div>
        <script src="./script.js"></script>
</body>

</html>